@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Estoy haciendo un Oneal, un Push directo al master branch...Para seguir jodiendo a Steven</a>.</p>
</div>
