@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Estoy haciendo un Oneal, un Push directo al master branch...Para seguir jodiendo a Steven</a>.</p>
    <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non nam cumque temporibus nesciunt voluptate ex facilis eligendi sed nulla quod, fugit nostrum fugiat, eveniet quis deserunt sunt inventore unde distinctio!</h1>
</div>
